<p id="notice"><%= notice %></p>

<h1>Personns</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personns.each do |personn| %>
      <tr>
        <td><%= personn.firstname %></td>
        <td><%= personn.lastname %></td>
        <td><%= link_to 'Show', personn %></td>
        <td><%= link_to 'Edit', edit_personn_path(personn) %></td>
        <td><%= link_to 'Destroy', personn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personn', new_personn_path %>
